section.sidebar {
    margin-top: 1rem;
    min-width: 18rem;

    .block {
        padding: 0.25em;

        .icon {
            display: inline-block;
            padding-right: 0.5em;
        }
    }

    .body {
        --separator: var(--primary);

        display: flex;
        flex-direction: column;
        padding: 1rem;
        & > * { margin-top: 0.5rem; }
        & > *:first-child { margin-top: 0; }
        hr { margin-bottom: 0; width: 100%; }
    }
}
