section.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;

    hr { margin: 0 0.5rem; height: 100%;}
    .icon-button { font-size: 2.5rem; }

    .button-group {
        display: flex;
        flex-basis: 0;
        & > * { margin-left: 0.25rem; }
        & > *:first-child { margin-left: 0; }
    }

    .page-index {
        text-align: center;
        flex-grow: 1;
    }
}

